* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
}

.navbar {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 35vh;
  padding-inline: 5px;
  padding-block: 5px;
}

.nav-1 {
display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
  padding: 10px;

  
}


.union-img {
  width: 168px;
  height: 31px;
}
.logo-name {
  width: 168px;
  height: 31px;
}

.logo-img {
  width: 41px;
  height: 41px;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 30px;
  border-radius: 6px;
  border: 0.5px solid #b5bdcd;
  padding: 10px 10px;
}

.user {
  display: flex;
  gap: 10px;
}

.icon-dropdown {
  width: 19px;
  height: 19px;
  border-radius: 6px;
}
.nav-tabs {
  display: flex;
  flex-direction: column;

  gap: 22px;
}
.nav-tabs-img{
  height: 24px;
  width: 24px;
}
.nav {
  display: flex;
  gap: 5%;
  font-family: "Spline Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;

  color: #626d82;
  padding-inline: 10px;
}

.nav-tabs a{
  text-decoration: none;
}

.nav:hover{
 display: flex;
  gap: 5%;
  font-family: "Spline Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
background-color: #d3f7b5;
  color: #626d82;
  padding: 10px;
  border-radius: 5px;
 
  
}

/* #nav-doc {
  display: flex;
  align-items: center;
  
  background-color: #d3f7b5;
  padding: 10px;
} */
.nav-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 23px;
  padding: 10px;
}

#phone-img {
  width: 27px;
  height: 27px;
  border-width: 2.5px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.nav-2 h1 {
  font-family: "Spline Sans", sans-serif;
  font-weight: 550;
  font-size: 28px;
  color: #1f4451;
}

.nav-2 p {
  font-family: "Spline Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

#btn-contact {
  width: 97px;
  height: 34px;
  border-radius: 5px;
  background-color: #1f4451;
}
#btn-contact p {
  font-family: "Spline Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #ffffff;
}

.container {
  width: 80%;
  height: 100vh;
  background-color: #f5f0ea;
  display: flex;
  flex-direction: column;
  padding-block: 30px;
  padding-inline: 70px;
  gap: 4%;
}

.tab-1 {
  display: flex;
}

.tab-home {
  font-family: "Spline Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #436d7c;
}




#right-dropdown {
  width: 20px;
  height: 20px;
}

#tab-doc {
  font-family: "Spline Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #b5bdcd;
}

.tab-2 {
  display: flex;
  justify-content: space-between;
}

.inner-tab{
  display: flex;
  justify-content: space-between;
  gap: 8%;
}
.crud-btn{
  display: flex;
  justify-content: space-between;
  gap:3%;
}
#add-btn{
  border: none;
  color: white;
  padding: 10px 22px;
   background-color: rgb(113, 164, 87);
  font-family: "Spline Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn{
  border: none;
  color: white;
  padding: 10px 22px;

   background-color: rgb(247, 117, 117);
  font-family: "Spline Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}


.title_div{
 
  display: flex;
  flex-direction: column;
}

.title_input{
  font-family: "Spline Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  height: 50%;
  gap: 10%;
   border-radius: 5px;
   border:none;
}

.form_input{
  font-family: "Spline Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 5px 5px;
  border: 0.5px solid #b5bdcd;
}
.add_btn_form{
   border: none;
  color: white;
  padding: 10px 22px;
   background-color: rgb(113, 164, 87);
  font-family: "Spline Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

#title-head h1 {
  font-family: Zin Display;
  font-weight: 400;
  font-size: 30px;
}

.searchbox {
  position: relative;
  width: 70%;
  height: 37px;
}
#search-box {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 2px;
  padding: 10px;
}

.search-logo {
  position: absolute;
  top: 8px;
  right: 7px;
}

table {
  /* width: 100%;
  height: 50%; */
  border-radius: 8px;
  border-width: 0.5px;
  background-color: #ffffff;
 
}

thead {
  text-align: left;
}

.table-td{
font-family: "Spline Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
    padding: 15px;

  color: #436d7c;
  border-bottom: 1px solid #d4d6d9;
}

th{
  font-family: "Spline Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  
  color: #436d7c;
  border-bottom: 1px solid #d4d6d9;
}
.settings {
  position: relative;
  top: 5px;
}

.status_btn{
width: 139px;
height: 23px;
border-radius: 22px;
padding: 2px 6px;
border:none;
background-color: #436D7C;

color: white;

}

.btn-main {
  width: 134px;
  height: 34px;
  border-radius: 5px;
  border-width: 1px;
  font-weight: 500;
  color: #626d82;
  background-color: #ffffff;
}

#doc-title{
  font-family: "Spline Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

#doc-title-input{
  font-family: "Spline Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
 
}

.th-style{
  text-align: left; 
  color: #2A2A2A; 
  font-weight: 600;
}

#form-div{
  height: 100vh;
  width: 100vw;
  border-radius: 10px;
  display: none;  
}

#form{
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #537bca;
  width: 35%;
  height: 30%;
  top: 20%;
  left: 40%;
  
  padding: 10px;
  justify-content: center;

position: absolute;

}

